language: c++
compiler: gcc
# Select Trusty Beta environment, required for testing.
sudo: required
dist: trusty
addons:
  apt:
    packages:
    - gawk 
    - wget 
    - git-core 
    - diffstat 
    - unzip 
    - texinfo 
    - gcc-multilib 
    - build-essential 
    - chrpath 
    - socat 
    - libsdl1.2-dev 
    - xterm
script:
  - mkdir build_dir && cd build_dir
  - git clone --depth=1 https://github.com/openembedded/openembedded-core.git oe-core
  - git clone --depth=1 https://github.com/openembedded/bitbake.git oe-core/bitbake
  - git clone --depth=1 https://github.com/openembedded/meta-openembedded.git
  - echo "repositories are cloned"
  - source oe-core/oe-init-build-env
  - cat ../meta-opi/bblayers.frag
  - cat ./conf/bblayers.conf
  - cat ../meta-opi/bblayers.frag >> ./conf/bblayers.conf
  - cat ../meta-opi/conf.frag >> ./conf/local.conf
#  - bitbake core-image-minimal
# echo 'INHERIT += "rm_work"' >> ./conf/local.conf
